#root{
    --color-primary: #80B1D7;
    --color-secundary: #d7bb80;
    --color-tertiary: #C4BDFF;
    --color-accent: #a383dd;
    --color-blue-accent: #8094d7;
}

*{
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
